.navbar {
  padding: 10px;
  background: var(--backgroundPages);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--backgroundBody);
}

.navbar__icon {
  width: 2%;
  padding-right: .5em;
}

.navbar__title {
  color: var(--color1);
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

.principal {
  display: grid;
  grid-template-columns: 20% 80%;
  width: 100%;
}

.menu-links {
  background-color: var(--backgroundPages);
  height: 100vh;
  padding: 2em .5em;
}

.list__item {
  color: var(--color1);
  padding: 1em 2em;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.list__item:hover {
  color: var(--color3);
  transition: all 0.2s ease-in-out;
}

.material-symbols-outlined {
  padding-right: .5em;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.register{
  display: inline-block;
}

.row {
  display: flex;

  gap: 1em;
  align-items: center;
  margin: 1em 2em;
}

.column {
  display: flex;
  justify-content: center;
}
.button{
  justify-content: flex-end;
}
.grid{
  display: flex;
  justify-content: center;
}

.container__button {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: .5em 1em;
  background-color: var(--button);
  border-radius: 5px;
  transition: linear 0.2s;
  cursor: pointer;
}

.container__button:hover, .container__button:focus {
  color: var(--color1);
  transition: linear 0.2s;
  background-color: var(--backgroundPages);
  box-shadow: 0 0 10px var(--color2);
}

.container__item {
  width: 23%;
  height: 100%;
  text-align: center;
  background-color: var(--color1);
  border-radius: 5px;
  transition: linear 0.2s;
}
.apartament__title {
  padding: 3em 2em;
}

.container__item:hover {
  box-shadow: 0 0 5px var(--backgroundPages);
  transition: linear 0.2s;
}