:root{
    --backgroundBody: 	#D3D3D3;
    --color1: #FFFFFF;
    --color2: #4F4F4F;
    --color3: #CD853F;
    --backgroundGrid: #FFFFFF;
    --font: 'Montserrat';
    --shadow: #DEB887;
}

body{
    background-image: url(/condor-resort/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--font);
    color: var(--color2);
    display: flex;
    justify-content: center;
    font-weight: 300;
    font-size: 18px;
    cursor: default;
}
.login{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login__title{
    color: var(--color1);
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    text-shadow: 2px 2px 2px var(--color3);
}
.login__text{
    text-align: center;
    padding: .5em;
}
.form__inputs{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    background-color: var(--backgroundGrid);
    padding: 2em 3em;
    margin: 2em;
    border-radius: 5px;
    box-shadow: 0 0 4px var(--color2);
}
.inputs__data{
    border: 1px solid var(--backgroundBody);
    padding: .5em 15em .5em 1em;
    margin: 1em 0;
    border-radius: 5px;
}
.inputs__data:focus{
    outline: none;
    border-color: var(--color3);
    box-shadow: 0 0 4px var(--color3);
}
.inputs__button{
    color: var(--color1);
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    padding: 1em 2em;
    border-radius: 5px;
    margin-top: 1em;
    width: 100%;
    background-color: var(--color3);
    cursor: pointer;

}
.inputs__button:hover{
    opacity: 0.8;
    transition: 0.2s ease-in-out;
}
.inputs__reset{
    text-align: center;
    padding-top: 1em;
    text-decoration: none;
    font-weight: 500;
}
.inputs__reset:hover{
    color: var(--color3);
    text-shadow: 0 0 8px var(--color3);
    transition: all .1s ease-in-out;
    text-decoration: underline;
}
